*{
  font-family: times;
  color: black;
  background-color: salmon;
}

.highlight{
  font-family: 'Bree Serif', serif;
  color: blue;
}

/*.data{
  font-family: Arial;
  color: green;
}*/


h1{
  font-size: 50px;
  text-align: center;
  background-color: white;
  margin-left: 20%;
  margin-right: 20%;
}

td{
  border: thin solid red;
}

/* table rows don't contain my table data, so table data doesn't change color. I need to make some kind of function (like math function) to model selecting the even or odd rows but that seems like a bunch of work and I'm lazy. I can change the table data to look weird if you'd like.

tr:nth-child(even){
  background-color: #DDD;
}
*/
